{:deps {nvd-clojure/nvd-clojure      {:mvn/version "3.3.0"}
        metosin/jsonista             {:mvn/version "0.3.7"}
        org.clojure/tools.cli        {:mvn/version "1.0.219"}
        org.clojure/tools.deps.alpha {:mvn/version "0.15.1254"}}}
